@media only screen and (max-width: 800px) {
    body .start-option-flex{
        align-items: center; 
        justify-content: center; 
        text-align: center;
    }

    body .start-title{
        font-size: 20vw;
    }

    body .startoption{
        font-size: 10vw;
    }
}

* {
    text-decoration: none;
}

.start-body{
    background-color: black;
    padding: 0px;
}   

.start-option-flex{
    display: flex;
    flex-direction: column;
}


.start-title{
    font-size: 10vw;
    font-family: 'Carrois Gothic SC', sans-serif;
    color:white;
    margin: 0px;
    padding: 0px;
    border: 0px;

}

.start-option{
    cursor: pointer;

}

.startoption{
    font-family: 'Carrois Gothic SC', sans-serif;
    color:white;
    font-size: 4.5vw;
}

.game{
    display: none;
    margin-left: 5vw;
    margin-top: 2.5vw;
    width: 90vw;
    height: 90vh;
    border: solid white 2px;
}

.game-text{
    font-size: x-large;
    color:white;
    width: 45vw;
    margin-left: 22.5vw;;

}

.game-buttons{
    position: absolute;

    display: flex;
    flex-direction: column;
    top: 5vh;
    margin-left: 5vw;
    justify-content: space-between;
    height: 25vh;

}

.gamebutton{
    height: 5vw;
    width: 5vw;
    border: solid white 2px;
}